@inherits BaseWindowWithContainerCode<WindowConfirmationServices, WindowConfirmationModel>

@inject WindowConfirmationServices _modalService

<BaseWindowWithContainerComponent ContainerClass="@ContainerClass"
                                  Service="_modalService"
                                  ShowTitle="ShowTitle"
                                  Title="@Model.Title">
    <h4>
        @((MarkupString)(Model?.Message ?? Texts.DefaultConfirmMessage))
    </h4>
    <button class="btn btn-outline-primary @Texts.BtnFalseClass" @onclick="ClickFalse">@((MarkupString)(Model?.ButtonFalseText ?? Texts.DefaultBtnFalseText))</button>
    <button class="btn btn-primary float-sm-right @Texts.BtnTrueClass" @onclick="ClickTrue">@((MarkupString)(Model?.ButtonTrueText ?? Texts.DefaultBtnTrueText))</button>
</BaseWindowWithContainerComponent>

@code {
    void ClickTrue()
    {
        Model.ActionTrue?.Invoke();
        _modalService.Close().Wait();
    }

    void ClickFalse()
    {
        Model?.ActionFalse?.Invoke();
        _modalService.Close().Wait();
    }
}